<div class="panel panel-danger">
  <div class="panel-heading">
    Waiting On Users For
    <span ng-click="vm.copyRoomUrl()">
      <i class="fa fa-share"></i> <code>{{ vm.roomCode }}</code>
    </span>
  </div>

  <div class="panel-body ng-binding">
    At least <span class="badge">{{ vm.getWaitCount() }}</span> more are needed to play.
  </div>
</div>

<button class="btn btn-primary btn-block" ng-disabled="!vm.isReady()">
  <i class="fa fa-gamepad"></i> Start Game
</button>

<hr />

<ul class="list-group">
  <li class="list-group-item" ng-repeat="player in vm.players" ng-bind-html="player"></li>
</ul>
