 <form role="form" ng-submit="vm.start()">
  <fieldset>
    <legend>Start A Game</legend>
    <div class="form-group">
      <label>Nickname</label>
      <input type="text" ng-model="vm.nickname" class="form-control" placeholder="Enter Your Nickname" ng-change="vm.formatNickname()">
    </div>

    <div class="form-group">
      <div class="btn-group justified" ui-state="isNew" ui-default="false">
        <a href="" class="btn btn-default" ui-turn-on="isNew" ui-class="{ active: isNew }">
          New Game
        </a>
        <a href="" class="btn btn-default" ui-turn-off="isNew" ui-class="{ active: !isNew }">
          Join Existing
        </a>
      </div>
    </div>

    <div ui-show="!isNew" class="form-group">
      <label>Room Code</label>
      <input ng-model="vm.roomCode" class="form-control" placeholder="Enter 4 Letter Code" ng-change="vm.formatRoomCode()">
    </div>
  </fieldset>

  <hr>

  <button ui-show="isNew" class="btn btn-primary btn-block" ng-disabled="vm.isDisabled()">
    <i class="fa fa-plus"></i> New Game
  </button>

  <button ui-show="!isNew" class="btn btn-primary btn-block" ng-disabled="vm.isDisabled()">
    <i class="fa fa-sign-in"></i> Join Game
  </button>
</form>
